<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccnu.mapper.AcademicAppointment226Mapper" >
  <resultMap id="BaseResultMap" type="com.ccnu.pojo.AcademicAppointment226" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tutor_identification_code" property="tutorIdentificationCode" jdbcType="VARCHAR" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="job_level" property="jobLevel" jdbcType="VARCHAR" />
    <result column="employment_organization" property="employmentOrganization" jdbcType="VARCHAR" />
    <result column="organization_type" property="organizationType" jdbcType="VARCHAR" />
    <result column="start_of_office" property="startOfOffice" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMap" type="com.ccnu.pojo.vo.AcademicAppointment226Vo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tutor_identification_code" property="tutorIdentificationCode" jdbcType="VARCHAR" />
    <result column="job_title" property="jobTitle" jdbcType="VARCHAR" />
    <result column="job_level" property="jobLevel" jdbcType="VARCHAR" />
    <result column="employment_organization" property="employmentOrganization" jdbcType="VARCHAR" />
    <result column="organization_type" property="organizationType" jdbcType="VARCHAR" />
    <result column="start_of_office" property="startOfOffice" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tutor_identification_code, job_title, job_level, employment_organization, organization_type, 
    start_of_office, last_time, isdelete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccnu.pojo.AcademicAppointment226Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from academic_appointment_2_2_6
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from academic_appointment_2_2_6
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from academic_appointment_2_2_6
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccnu.pojo.AcademicAppointment226Example" >
    delete from academic_appointment_2_2_6
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccnu.pojo.AcademicAppointment226" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into academic_appointment_2_2_6 (tutor_identification_code, job_title, 
      job_level, employment_organization, organization_type, 
      start_of_office, last_time, isdelete
      )
    values (#{tutorIdentificationCode,jdbcType=VARCHAR}, #{jobTitle,jdbcType=VARCHAR}, 
      #{jobLevel,jdbcType=VARCHAR}, #{employmentOrganization,jdbcType=VARCHAR}, #{organizationType,jdbcType=VARCHAR}, 
      #{startOfOffice,jdbcType=VARCHAR}, #{lastTime,jdbcType=VARCHAR}, #{isdelete,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ccnu.pojo.AcademicAppointment226" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into academic_appointment_2_2_6
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tutorIdentificationCode != null" >
        tutor_identification_code,
      </if>
      <if test="jobTitle != null" >
        job_title,
      </if>
      <if test="jobLevel != null" >
        job_level,
      </if>
      <if test="employmentOrganization != null" >
        employment_organization,
      </if>
      <if test="organizationType != null" >
        organization_type,
      </if>
      <if test="startOfOffice != null" >
        start_of_office,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tutorIdentificationCode != null" >
        #{tutorIdentificationCode,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null" >
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobLevel != null" >
        #{jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="employmentOrganization != null" >
        #{employmentOrganization,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null" >
        #{organizationType,jdbcType=VARCHAR},
      </if>
      <if test="startOfOffice != null" >
        #{startOfOffice,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccnu.pojo.AcademicAppointment226Example" resultType="java.lang.Integer" >
    select count(*) from academic_appointment_2_2_6
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update academic_appointment_2_2_6
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tutorIdentificationCode != null" >
        tutor_identification_code = #{record.tutorIdentificationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.jobTitle != null" >
        job_title = #{record.jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.jobLevel != null" >
        job_level = #{record.jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.employmentOrganization != null" >
        employment_organization = #{record.employmentOrganization,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationType != null" >
        organization_type = #{record.organizationType,jdbcType=VARCHAR},
      </if>
      <if test="record.startOfOffice != null" >
        start_of_office = #{record.startOfOffice,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isdelete != null" >
        isdelete = #{record.isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update academic_appointment_2_2_6
    set id = #{record.id,jdbcType=INTEGER},
      tutor_identification_code = #{record.tutorIdentificationCode,jdbcType=VARCHAR},
      job_title = #{record.jobTitle,jdbcType=VARCHAR},
      job_level = #{record.jobLevel,jdbcType=VARCHAR},
      employment_organization = #{record.employmentOrganization,jdbcType=VARCHAR},
      organization_type = #{record.organizationType,jdbcType=VARCHAR},
      start_of_office = #{record.startOfOffice,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=VARCHAR},
      isdelete = #{record.isdelete,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccnu.pojo.AcademicAppointment226" >
    update academic_appointment_2_2_6
    <set >
      <if test="tutorIdentificationCode != null" >
        tutor_identification_code = #{tutorIdentificationCode,jdbcType=VARCHAR},
      </if>
      <if test="jobTitle != null" >
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobLevel != null" >
        job_level = #{jobLevel,jdbcType=VARCHAR},
      </if>
      <if test="employmentOrganization != null" >
        employment_organization = #{employmentOrganization,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null" >
        organization_type = #{organizationType,jdbcType=VARCHAR},
      </if>
      <if test="startOfOffice != null" >
        start_of_office = #{startOfOffice,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccnu.pojo.AcademicAppointment226" >
    update academic_appointment_2_2_6
    set tutor_identification_code = #{tutorIdentificationCode,jdbcType=VARCHAR},
      job_title = #{jobTitle,jdbcType=VARCHAR},
      job_level = #{jobLevel,jdbcType=VARCHAR},
      employment_organization = #{employmentOrganization,jdbcType=VARCHAR},
      organization_type = #{organizationType,jdbcType=VARCHAR},
      start_of_office = #{startOfOffice,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAcademicAppointmentInfoBy226" resultMap="com.ccnu.mapper.AcademicAppointment226Mapper.ResultMap"
  parameterType="com.ccnu.pojo.dto.DoctorInfosQueryDto">
  select distinct a.id, a.tutor_identification_code, a.job_title, a.job_level, a.employment_organization, a.organization_type,
    a.start_of_office, a.last_time, a.isdelete,
    b.realname as name from academic_appointment_2_2_6 as a
	left JOIN user_account as b on a.tutor_identification_code = b.username
    where a.isdelete = '0'
    <if test="college != null and college.trim().length() > 0">
            AND a.tutor_identification_code in (select username from user_account where faculty_code = #{college})
    </if>
    <if test="tutorIdentificationCode != null and tutorIdentificationCode.trim().length() > 0">
            AND a.tutor_identification_code LIKE CONCAT(CONCAT('%',#{tutorIdentificationCode},'%'))
    </if>
</select>
</mapper>