<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccnu.mapper.UserStatusMapper" >
  <resultMap id="BaseResultMap" type="com.ccnu.pojo.UserStatus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="account_status" property="accountStatus" jdbcType="VARCHAR" />
    <result column="work_status" property="workStatus" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="num_of_exception" property="numOfException" jdbcType="INTEGER" />
    <result column="unlock_time" property="unlockTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, account_status, work_status, last_time, num_of_exception, unlock_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccnu.pojo.UserStatusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccnu.pojo.UserStatusExample" >
    delete from user_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccnu.pojo.UserStatus" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_status (user_id, account_status, work_status, 
      last_time, num_of_exception, unlock_time
      )
    values (#{userId,jdbcType=INTEGER}, #{accountStatus,jdbcType=VARCHAR}, #{workStatus,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=TIMESTAMP}, #{numOfException,jdbcType=INTEGER}, #{unlockTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ccnu.pojo.UserStatus" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="accountStatus != null" >
        account_status,
      </if>
      <if test="workStatus != null" >
        work_status,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="numOfException != null" >
        num_of_exception,
      </if>
      <if test="unlockTime != null" >
        unlock_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountStatus != null" >
        #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="workStatus != null" >
        #{workStatus,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numOfException != null" >
        #{numOfException,jdbcType=INTEGER},
      </if>
      <if test="unlockTime != null" >
        #{unlockTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccnu.pojo.UserStatusExample" resultType="java.lang.Integer" >
    select count(*) from user_status
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_status
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.accountStatus != null" >
        account_status = #{record.accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.workStatus != null" >
        work_status = #{record.workStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.numOfException != null" >
        num_of_exception = #{record.numOfException,jdbcType=INTEGER},
      </if>
      <if test="record.unlockTime != null" >
        unlock_time = #{record.unlockTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_status
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      account_status = #{record.accountStatus,jdbcType=VARCHAR},
      work_status = #{record.workStatus,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      num_of_exception = #{record.numOfException,jdbcType=INTEGER},
      unlock_time = #{record.unlockTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccnu.pojo.UserStatus" >
    update user_status
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="accountStatus != null" >
        account_status = #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="workStatus != null" >
        work_status = #{workStatus,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="numOfException != null" >
        num_of_exception = #{numOfException,jdbcType=INTEGER},
      </if>
      <if test="unlockTime != null" >
        unlock_time = #{unlockTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccnu.pojo.UserStatus" >
    update user_status
    set user_id = #{userId,jdbcType=INTEGER},
      account_status = #{accountStatus,jdbcType=VARCHAR},
      work_status = #{workStatus,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      num_of_exception = #{numOfException,jdbcType=INTEGER},
      unlock_time = #{unlockTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateUserWorkStatus" parameterType="java.lang.String" statementType="CALLABLE">
	{call updateUserWorkStatus(#{tutorIdentificationCode,mode=IN})}
  </update>
  <update id="updateUserOnWorkStatus" parameterType="java.lang.String" statementType="CALLABLE">
  {call updateUserOnWorkStatus(#{tutorIdentificationCode,mode=IN})}
  </update>
</mapper>